.grid-sizer { width: 50%; }
.grid-item, .grid-item * {
  box-sizing: border-box;
}
.grid-item.row-1-image {
  width: 100%;
}
.grid-item.row-2-image {
  width: 50%;
}
.grid-item.row-3-image {
  width: 33.333%;
}
.grid-item a {
  border: 5px solid #FFF;
  overflow: hidden;
  transition: all ease .3s;
}
.grid-item a * {
  transition: all ease .5s;
}
.grid-item a,
.grid-item a span {
  display: block;
  width: 100%;
  float: left;
  position: relative;
}
.grid-item a span {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px transparent inset;
}
.grid-item a:hover span {
  box-shadow: 0 0 300px rgba(0,0,0,.75) inset;
}
.grid-item img:not(.resizer) {
  display: none;
}
.grid-item img.resizer {
  width: 100%;
  height: auto;
  float: left;
}

@media screen and (max-width:820px) {
  .grid-item {
    width: 100%!important;
  }
}