.main-navigation {
	position: relative;
	width: 100%;
	@include transition(all .2s ease);
	@media screen and (min-width: $tabwidth) {
		position: absolute;
		bottom: 0px;
	}
	&.scrolled {
		// position: fixed;
		@media screen and (min-width: $tabwidth) {
			// top: 0;
			// left: 0;
			width: 100%;
			background-color: rgba(#fff,.9);
		}
		
		li.fixed {
			// hide on mobile
			display: none;
			a {
				padding: 0;
				&:hover {
					background-color: rgba(#fff, 0);
				}
			}
			@media screen and (min-width: $tabwidth) {
				display: block;
				width: 30px;
				height: 30px;
				text-indent: -90000px;
				margin-top: 10px;
				background: {
					image: url(images/nav-logo.png);
					repeat: no-repeat;
					size: cover;
				}
			}
		}
	}
	li.fixed {
		// display: none;
	}
}
.main-navigation {
	clear: both;
	
	z-index: 10000;
	float: left;
	
	text-align: center;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		@media screen and (min-width: $tabwidth) {
			display: flex;
			justify-content: space-between;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		// float: left;
		position: relative;
		text-transform: uppercase;
		font-size: 18px;
		width: 100%;
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			width: auto;
			font-size: 10px;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 12px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 18px;
		}
		&:hover > a,
		&.focus > a {
			background-color: rgba(#fff, 1);
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: rgba(#fff, 1);
		padding: 10px 5px;
		@include transition(all ease .2s);
		@media screen and (min-width: $tabwidth) {
			color: rgba($color-grey, 1);
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	background-color: rgba($color-grey, 1);
	ul.sub-menu {
		background-color: rgba(255,255,255,.1);
	}
	
}


@media screen and (min-width: $tabwidth) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		// display: block;
	}
}
button.menu-toggle {
	border: 0px;
	text-shadow: none;
	// background-color: $color-green;
	color: #fff;
	box-shadow: none;
	width: auto;
	position: relative;
	z-index: 1002;
	display: inline-block;
	margin: 10px auto;
	border-radius: 0;
	text-transform: uppercase;
	font: {
		
		weight :300;
		size: 20px;
	}
	
	@media screen and (min-width: $tabwidth) {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
#work-navigation {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	clear: both;
	display: block;
	&.scrolled {
		
		background-color: rgba(#fff,.9);
		@media screen and (min-width: $tabwidth) {
			top: 25px;
			position: fixed;
		// top: 52px;
		left: 0;
		width: 100%;
		}
		@media screen and (min-width: $deskwidth) {
			top: 52px;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		width: auto;
		position: relative;
		display: inline-block;
		
		&::before {
			
			@media screen and (min-width: $tabwidth) {
				width: 60%;
				position: absolute;
				top: 0;
				left: 20%;
				border-top: 1px solid  rgba($color-grey, 1);
				content: '';
			}
		}
	}
	li {
		display: inline-block;
		font-size: 12px;
		margin: 0 10px;
		@media screen and (min-width: $tabwidth) {
			margin: 0 40px;
			font-size: 14px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 18px;
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: rgba($color-grey, .5);
		padding: 10px 0;
		&.active, &:hover {
			color: rgba($color-grey, 1);
		}
	}
}
/***************** Menu *****************/

#page-body-wrap .menu-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 500;
  width: 80px;
  background-color: transparent;
  color: #353535;
  text-align: center;
  cursor: default;
  height: 50px;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
}

#page-body-wrap .menu-bar .hamburger-icon {
  width: 45px;
  margin-left: auto;
  margin-right: auto;
}

#page-body-wrap .menu-bar .hamburger-icon div.hamburger {
  height: 5px;
  margin-bottom: 4px;
  border-radius: 2px;
  background-color: #353535;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
}

#page-body-wrap .menu-bar:hover {
  width: 340px;
  color: #fff;
  height: 100%;
  background-color: #353535;
  background-color: rgba(53, 53, 53, .9);
}

#page-body-wrap .menu-bar:hover .hamburger-icon div.hamburger {
  background-color: #fff;
}

#page-body-wrap .menu-bar nav ul {
  padding-left: 0;
  margin-top: 0;
}

#page-body-wrap .menu-bar:hover nav ul {
  height: 100%;
}

#page-body-wrap .menu-bar nav ul li {
  list-style: none;
  margin-top: 0;
  padding: 30px 30px 0 0;
  width: 45px;
  text-align: center;
}

#page-body-wrap .menu-bar:hover nav ul li {
  padding-left: 0;
  padding-right: 0;
  width: auto;
  background-color: transparent;
}

#page-body-wrap .menu-bar nav ul li ul {
  padding-left: 0;
}

#page-body-wrap .menu-bar:hover nav ul li ul {
  padding-top: 50px;
  padding-bottom: 200%;
}

#page-body-wrap .menu-bar nav ul li ul a {
  color: #fff;
  text-decoration: none;
  display: none;
}

#page-body-wrap .menu-bar:hover nav ul li ul a {
  display: initial;
  width: 100%;
}

#page-body-wrap .menu-bar nav ul li ul a li {
  font-weight: 300;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #777;
  text-align: center;
  padding-right: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  visibility: hidden;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -o-transition: .1s;
  -ms-transition: .1s;
  transition: .1s;
}

#page-body-wrap .menu-bar nav ul li:hover ul a li {
  visibility: visible;
}

#page-body-wrap .menu-bar nav ul li:hover ul a li:hover {
  background-color: #fff;
  color: rgb(54, 69, 79);;
}
