.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
/* Custom Styles
-------------------------------------------------------------- */


#tinymce .manufact,
#page-body-wrap .manufact {
    padding-top: 100px;
}
body {
  background-color: rgba(#ffffff, 0);
}

// #page-body-wrap p {
//   font-size: 16pt;
// }

// #page-body-wrap a {
//   font-size: 16pt;
// }

// #tinymce a,
// #page-body-wrap  a {
//   color: #a5673f;
// }

#page-body-wrap .btn {
  background-color: #FFD55A;
  color: #555555;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 6px;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
}

#page-body-wrap .btn:hover {
  background-color: #ADACA5;
  color: #fff;
}

#page-body-wrap .btn-sm {
  padding: 10px;
}

label {
  width: 100%;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
  width: 100%;
  margin-bottom: 25px;
}

textarea {
  border: solid 1px #ccc;
  margin-top: 3px;
}

input[type="radio"] {
  margin-right: 15px;
}

input[type="submit"] {
  background-color: #FFD55A;
  color: #555555;
  margin-top: 10px;
  padding: 10px 15px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 6px;
  border-width: 0;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
}

.field-radios {
  margin-bottom: 20px;
}



/***************** Hero Area *****************/

#page-body-wrap .background-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#page-body-wrap .our-work {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#page-body-wrap .our-work a {
  text-decoration: none;
}
.our-work-type {
  width: 100%;
  height: 50vh;
  align-items: center;
  display: flex;
  @media screen and (min-width: $tabwidth) {
    height: 100%;
    position: relative;
    width: 32%;
    float: left;
    cursor: pointer;
    opacity: 0.75;
    background-size: cover;
    @include transition(all ease .25s);
    
  }
  &.first {
    margin-right: 1%;
  }
  &.last {

  }
  &:hover {
     transform: scale(.95);
  }
  h3 {
    width: 100%;
    text-align: center;
    color: #fff;
  }
}
#page-body-wrap .our-work-kitchen {
  background: url(images/kitchen-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  
  
  
  
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

#page-body-wrap .our-work-kitchen:hover {
  opacity: 1;
  -webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -o-transform: scale(.95);
  -ms-transform: scale(.95);
 
}

#page-body-wrap .our-work-kitchen h3 {
  color: #fff;
  text-align: center;
  padding-top: 60%;
  padding-bottom: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

#page-body-wrap .our-work-bath {
  background: url(images/bath-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  position: relative;
  width: 32%;
  margin-left: 1%;
  margin-right: 1%;
  height: 100%;
  float: left;
  cursor: pointer;
  opacity: 0.75;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

#page-body-wrap .our-work-bath:hover {
  opacity: 1;
  -webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -o-transform: scale(.95);
  -ms-transform: scale(.95);
  transform: scale(.95);
}

#page-body-wrap .our-work-bath h3 {
  color: #fff;
  text-align: center;
  padding-top: 60%;
  padding-bottom: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

#page-body-wrap .our-work-other {
  background: url(images/other-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  position: relative;
  width: 32%;
  margin-left: 1%;
  height: 100%;
  float: left;
  cursor: pointer;
  opacity: 0.75;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

#page-body-wrap .our-work-other:hover {
  opacity: 1;
  -webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -o-transform: scale(.95);
  -ms-transform: scale(.95);
  transform: scale(.95);
}

#page-body-wrap .our-work-other h3 {
  color: #fff;
  text-align: center;
  padding-top: 60%;
  padding-bottom: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

#page-body-wrap .cabinetry-bg {
  background: url(images/cabinetry.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#page-body-wrap .inside-h1 {
  position: absolute;
  bottom: 0;
  text-align: left;
  width: 100%;
  background: -webkit-linear-gradient( 0deg, rgba(255,255,255, 1), rgba(255,255,255, .9), rgba(255,255,255, .8), rgba(255,255,255, .7), rgba(255,255,255, .5));
  background: -moz-linear-gradient( 0deg, rgba(255,255,255, 1), rgba(255,255,255, .9), rgba(255,255,255, .8), rgba(255,255,255, .7), rgba(255,255,255, .5));
  background: -o-linear-gradient( 0deg, rgba(255,255,255, 1), rgba(255,255,255, .9), rgba(255,255,255, .8), rgba(255,255,255, .7), rgba(255,255,255, .5));
  background: -ms-linear-gradient( 0deg, rgba(255,255,255, 1), rgba(255,255,255, .9), rgba(255,255,255, .8), rgba(255,255,255, .7), rgba(255,255,255, .5));
  background: linear-gradient( 0deg, rgba(255,255,255, 1), rgba(255,255,255, .9), rgba(255,255,255, .8), rgba(255,255,255, .7), rgba(255,255,255, .5));
}

#page-body-wrap .header-logo {
  float: right;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .9);
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  right: 0;
}

#page-body-wrap .header-logo img {
  width: 200px;
  @media(min-width:1200px){
  	width:250px;
  }
}

#page-body-wrap .header-logo p {
  text-align: center;
}

/***************** Home Content *****************/

#page-body-wrap .home-content {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  /*max-width: 960px; 12/8/15: Client wants width to be 80%, not a decision made by dev team*/
  float: none;
  clear: both;
}

@media(max-width:768px){
  .home-content{
    margin-top:0 !important;
  }
}

#page-body-wrap .home-content .intro-text {
  margin-bottom: 100px;
  text-align: left;
}

#page-body-wrap .home-content a {
  text-decoration: none;
  color: #fff;
}

#page-body-wrap .home-content a .home-left {
  float: left;
  margin-left: 0;
  margin-right: 2%;
  width: 48%;
  height: 800px;
  opacity: .75;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
}

#page-body-wrap .home-content a .home-left h3 {
  letter-spacing: 2px;
  margin-top: 345px;
}

#page-body-wrap .home-content a .home-right {
  float: right;
  margin-right: 0;
  margin-left: 2%;
  width: 48%;
  height: 375px;
  opacity: .75;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
}

#page-body-wrap .home-content a .home-right:hover,
#page-body-wrap .home-content a .home-left:hover {
  -webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -o-transform: scale(.95);
  -ms-transform: scale(.95);
  transform: scale(.95);
  opacity: 1;
}

#page-body-wrap .home-content a .home-right h3 {
  letter-spacing: 2px;
  margin-top: 140px;
}

#page-body-wrap .home-content a .home-right h3,
#page-body-wrap .home-content a .home-left h3,
#page-body-wrap .home-content a .home-right p,
#page-body-wrap .home-content a .home-left p {
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

#page-body-wrap .kitchen {
  // background-image: url(images/kitchen-bg.jpg);

  background-position: center;
  background-size: cover;
}

#page-body-wrap .bath {
  // background-image: url(images/bath-bg.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
}

#page-body-wrap .other {
  // background-image: url(images/other-bg.jpg) !important;
  background-position: center;
  background-size: cover;
}


.primary {
  // margin-top: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  position: relative;
  z-index: 1000;
  /*max-width: 960px; 12/8/15: Client wants width to be 80%, not a decision made by dev team*/
  clear: both;
  &.with-feat-image {
    margin-top: -80px;
  }
  &.no-feat-image {
    margin-top: 0;
  }
}
/***************** About Us Page *****************/

#page-body-wrap .inside-content {
  margin-top: 50px;
  width: 80%;
  /*max-width: 960px; 12/8/15: Client wants width to be 80%, not a decision made by dev team*/
  margin-left: auto;
  margin-right: auto;
  float: none;
  position: relative;
  z-index: 2;
  clear: both;
}

#page-body-wrap .content-img img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

#page-body-wrap .profile-section {
  border-bottom: 1px solid #ccc;
  padding-top: 100px;
}

#page-body-wrap .profiles {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-collapse: collapse;
  border-top: 1px solid #ccc;
}

#page-body-wrap .profiles .tab {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

#page-body-wrap .name {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #555555;
  font-weight: 300;
  font-size: 22pt;
}

#page-body-wrap .profiles .tab .info {
  position: relative;
  padding: 20px;
  margin-top: -40px;
  width: auto;
  height: 0;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
}

#page-body-wrap .profiles .tab .info:focus {
  height: auto;
  outline: 0;
}

#page-body-wrap .profiles .tab .info .left-facing-triangle + .personal-bio {
  display: none;
  margin-top: 0;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
}

.personalbio-hide{
  display: none;
  margin-top: 0;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
}

.personalbio-show{
  display: inherit;
  margin-top: 50px;
}

.personalbio-imghide{
  display: none;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.personalbio-imgshow{
  display: inherit;
  width: 15%;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
}

#page-body-wrap .profiles .tab .info:focus .left-facing-triangle + .personal-bio {
  display: inherit;
  margin-top: 50px;

}

#page-body-wrap .profiles .tab .info .left-facing-triangle + .personal-bio img {
  display: none;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

#page-body-wrap .profiles .tab .info:focus .left-facing-triangle + .personal-bio img {
  display: inherit;
  width: 15%;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
}

#page-body-wrap .profiles .tab .info .left-facing-triangle + .personal-bio p {
  display: none;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

#page-body-wrap .profiles .tab .info:focus .left-facing-triangle + .personal-bio p {
  display: inherit;
}

#page-body-wrap .profiles .tab .info .left-facing-triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid #FFD55A;
  position: relative;
  float: right;
  margin-top: -8px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -o-transition: .1s;
  -ms-transition: .1s;
  transition: .1s;
}

#page-body-wrap .profiles .tab .info:focus .left-facing-triangle {
  transform: rotate(-90deg);
  border-right-color: #ADACA5;
  cursor: default;
}

#page-body-wrap .profiles .tab .info .click-to-close ~ .more {
  float: right;
  margin-top: -8px;
  cursor: pointer;
}

#page-body-wrap .profiles .tab .info:focus .click-to-close ~ .more {
  display: none;
}

#page-body-wrap .profiles .tab .info .click-to-close {
  display: none;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
}

#page-body-wrap .profiles .tab .info:focus .click-to-close {
  display: inherit;
}

#page-body-wrap .click-to-close {
  padding: 15px 0px 15px 0px;
  outline: none;
  float: right;
  cursor: pointer;
  margin-top: -13px;
}

#page-body-wrap .click-to-close span {
  width: 25px;
  height: 2px;
  background-color: #353535;
  border-radius: 2px;
  transform: rotate(45deg);
  float: right;
  cursor: pointer;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -o-transition: .1s;
  -ms-transition: .1s;
  transition: .1s;
}

#page-body-wrap .click-to-close .forward {
  transform: rotate(-45deg);
  margin-right: -24px;
}

#page-body-wrap .difference-awards {
  margin-top: 100px;
}

#page-body-wrap .left-inside-content {
  width: 45%;
  margin-right: 5%;
  text-align: left;
  float: left;
}

#page-body-wrap .right-inside-content {
  width: 45%;
  margin-left: 5%;
  text-align: left;
  float: right;
}

// #page-body-wrap .awards-button {
//   padding-top: 45px;
//   clear: both;
// }

// #page-body-wrap .award {
//   float: left;
//   width: 30%;
//   margin-left: 10%;
//   margin-right: 10%;
// }

#page-body-wrap .award img {
  width: 100%;
}

#page-body-wrap .showroom {
  padding-top: 100px;
}

#page-body-wrap .showroom h2 {
  margin-top: 0;
}

#page-body-wrap .image-slide {
  width: 100%;
  margin: 80px auto 0 auto;
  white-space:nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

#page-body-wrap .image-slide h2 {
  margin-bottom: 80px;
}

#page-body-wrap .pic-container {
  width: auto;
}

#page-body-wrap .pic-container img {
  max-height: 300px;
}

#page-body-wrap .testimonials h2 {
  margin-top: 100px;
  margin-bottom: 80px;
}

/***************** Our Work Page *****************/

#page-body-wrap .image-gallery {
  position: relative;
  width: 60%;
  margin:auto;
  /*margin-top: 80px;*/
}

@media(max-width:768px){
  #page-body-wrap .image-gallery{
    width:100%;
  }
  #page-body-wrap .image-gallery .pager span a{
    font-size:10px;
  }
}

#page-body-wrap .image-gallery img {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-bottom: 0;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
  max-width:100% !important;
  padding:0;
}

#page-body-wrap .image-gallery .cycle-prev {
  display: block;
  position: absolute;
  top: 50%;
  left: 30px;
  margin-top: -61px;
  width: 69px;
  height: 50px;
  background: url(images/arrow-left.png) no-repeat center;
  background-size: contain;
  z-index: 101;
  cursor: pointer;
}

#page-body-wrap .image-gallery .cycle-next {
  display: block;
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -61px;
  width: 69px;
  height: 50px;
  background: url(images/arrow-right.png) no-repeat center;
  background-size: contain;
  z-index: 101;
  cursor: pointer;
}

@media(max-width: 768px){
  #page-body-wrap .image-gallery .cycle-prev {
    left: 0px;
    margin-top: -16px;
    width: 69px;
    height: 20px;
  }
  #page-body-wrap .image-gallery .cycle-next {
    right: 0px;
    margin-top: -16px;
    width: 69px;
    height: 20px;
  }
}

@media(min-width: 768px) and (max-width: 1400px) {
  #page-body-wrap .image-gallery .cycle-prev {
    left: 0px;
    margin-top: -16px;
    width: 69px;
    height: 30px;
  }
  #page-body-wrap .image-gallery .cycle-next {
    right: 0px;
    margin-top: -16px;
    width: 69px;
    height: 30px;
  }
}

#page-body-wrap .image-gallery .pager {
  text-align: center;
}

#page-body-wrap .image-gallery .pager span {
  margin: 0px 5px;
  cursor: pointer;
}

#page-body-wrap .image-gallery .pager span a {
  margin: 0px 5px;
  text-decoration: none;
  color: #353535;
}

#page-body-wrap .slider {
  padding-top: 110px;
  margin-top: 0;
}

#page-body-wrap .our-work ~ .inside-content .intro-text {
  margin-bottom: 0;
}

.cycle-pager-active {
  font-weight: 800;
  padding-left: 5px;
  padding-right: 5px;
}

/***************** Cabinetry Page *****************/

#page-body-wrap .pic-container-cabinetry {
  width: auto;
}

#page-body-wrap .pic-container-cabinetry img {
  max-height: 500px;
  max-width: inherit;
  width: auto;
  padding-right: 10px;
}

#page-body-wrap .dutchmade-icon {
  background-image: url(images/kitchen2.jpg);
}

#page-body-wrap .bentwood-icon {
  background-image: url(images/bath2.jpg);
}

#page-body-wrap .elmwood-icon {
  background-image: url(images/other1.jpg);
}

#page-body-wrap .manufacturer {
  width: 32.33333%;
  margin-left: .5%;
  margin-right: .5%;
  margin-bottom: 30px;
  height: 150px;
  background-size: cover;
  background-position: center;
  float: left;
  text-align: center;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
  overflow:hidden;
}

#page-body-wrap .manufacturer h3 {
  background-color: transparent;
  color: transparent;
  line-height: 150px;
  margin: 0;
  cursor: pointer;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
}
@media(max-width: 1080px){
    #page-body-wrap .manufacturer h3 {
    line-height: 20px;
    padding-top:60px;
    height:100%;
    font-size:7pt;
    background-color: rgba(85, 85, 85, .75);
    color: #fff;
  }
}

#page-body-wrap .manufacturer:hover h3 {
  background-color: rgba(85, 85, 85, .75);
  color: #fff;
}

h2#dutchmade, h2#bentwood, h2#elmwood {
  padding-top: 106px;
}


/***************** Awards & Features Page *****************/

.blog-post {
  margin-bottom: 150px;
  clear:both;
}

.blog-title{
  clear:both;
}

.blog-img {
  text-align:center;
}

#page-body-wrap .awards-features {
  text-align: center;
}

#page-body-wrap .no-hero-page {
  margin-top: 150px;
}

#page-body-wrap .blog-pane {
  text-align: center;
}

#page-body-wrap .blog-pane a h2 {
  cursor: pointer;
  font-size: 18pt;
}

#page-body-wrap .blog-pane .blog-pane-img {
  width: 100%;
  height: 320px;
  opacity: 1;
  background-size: cover;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
}

#page-body-wrap .blog-pane .blog-pane-img:hover {
  opacity: .5;
}

#page-body-wrap .other-blog {
  background-image: url(images/other1.jpg);
}

#page-body-wrap .showroom-blog {
  background-image: url(images/showroom9.jpg);
}

#page-body-wrap .kitchen-blog {
  background-image: url(images/kitchen2.jpg);
}

#page-body-wrap .blog-read-more {
  display: none;
  margin-top: 30px;
  margin-bottom: 60px
}

#page-body-wrap .back-arrow {
  visibility: visible;
  font-size: 25px;
  line-height: 50px;
  width: 50px;
  text-align: center;
  position: fixed;
  z-index: 9999;
  top: 10px;
  left: 10px;
  border: 1px solid #fff;
  border-radius: 100%;
  cursor: pointer;
  color: #000;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
}

#page-body-wrap .back-arrow:hover {
  color: #bbb;
}

#page-body-wrap .back-text {
  position: relative;
  padding-left: 5px;
  top: -2px;
  font-size: 20px;
}

#page-body-wrap .view-blog {
  float: left;
  width: 33%;
}

#page-body-wrap .view-blog a {
  text-decoration: none;
}

#page-body-wrap .view-blog a p {
  text-align: center;
  border: 1px solid #eee;
  background-color: #eee;
  margin-bottom: 6px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
}

#page-body-wrap .view-blog a:hover p {
  border: 1px solid #fff;
  background: #aaa;
  color: #fff;
}

#page-body-wrap .view-blog-mid {
  margin-left: .5%;
  margin-right: .5%;
}

section.before-after {
  width: 100%;
  float: left;
  .row {
    width: 100%;
    margin: 0 0 60px 0;
    clear: both;
    float: left;
  }
  h2 {
    text-transform: uppercase;
    font-size: 20pt;
    margin: 0 0 15px 0;
  }
  .half {
    width: 100%;
    @media screen and (min-width: $tabwidth) {
      width: 48%;
    }
    img {
      width: 100%;
    }
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .desc {
    width: 100%;
    float: left;
    p {
      margin: 0 0 15px 0;
    }
  }
}
section.portfolio {
  margin-top: 200px;
}
section.slider {
  width: 100%;
  float: left;
  clear: both;
}
section.press-awards {
  h3 {
    font-size: 18pt;
  }
  .press {
    width: 100%;
    float: left;
    @media screen and (min-width: $tabwidth) {
      width: 60%;
    }

    .image {
      width: 45%;
      float: left;
      margin: 2%;
      position: relative;

      @media screen and (min-width: $tabwidth) {
        width: 30%;
        margin: 1.5%;
      }
      &:hover {
        img {
          opacity: .7;
        }
      }
      img {
        width: 100%;
         @include transition(all ease .2s);
      }
      a {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        text-indent: -9000px;
        
      }
    }
  }
  .awards {
    width: 100%;
    float: left;
    @media screen and (min-width: $tabwidth) {
      width: 35%;
      float: right;
    }

    .award {
      width: 100%;
      float: left;
      padding: 0 0 10px 0;
      border-bottom: 1px solid #ccc;
      margin: 0 0 15px;
      font-size: 11pt;
      h4 {
        font-size: 12pt;
        margin: 0;
      }
    }
  }
}
.contact-left, .contact-right {
  width: 100%;
  float: left;
  @media screen and (min-width: $tabwidth) {
    width: 48%;
  }
  input[type="submit"] {
    background-color: $color-grey;
    color: #fff;
    box-shadow: none;
    border-radius: 0;
  }
}
.contact-left {

}
.contact-right {
  float: right;
  .map {
    width: 80%;
    margin: 10px auto;
    iframe {
      max-width: 100%;
    }
  }
}
section.people {
  width: 100%;
  float: left;

  .person {
    width: 100%;
    margin: 10px auto 30px auto;
    clear: both;
    float: left;
    
    .image {
      width: 80%;
      margin: 10px auto;
      @media screen and (min-width: $tabwidth) {
        width: 20%;
        float: left;
        margin: 0;
      }
      img {
        width: 100%;
      }
    }
  }
  .desc {
    width: 100%;
    margin: 0;
    @media screen and (min-width: $tabwidth) {
      width: 75%;
      float: right;
    }
  }
}
section.cta-show {
  width: 100%;
  float: left;
  text-align: center;
  margin: 0 0 40px 0;
  .show {
    width: auto;
    display: inline-block;
  }
  .carrot {
    width: auto;
    display: inline-block;
    a i {
      color: $color-grey;
    }
    i {
      font-size: 30pt;
      transform: scale(1);
      @include transition(all ease .2s);
      &:hover {
        transform: scale(1.3);
      }
    }
  }
  h3 {
    margin: 0;
  }
}
section.vendors {
  width: 100%;
  float: left;

  .vendor-half {
    width: 90%;
    margin: 0 auto;
    @media screen and (min-width: $tabwidth) {
      width: 45%;
      &.first {
        float: left;
      }
      &.last {
        float: right;
      }
    }
  }
}